@page
@model nscccoursemap_ibadk5304.Pages_AdvisingAssignments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AdvisingAssignment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdvisingAssignment.Instructor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdvisingAssignment.Instructor.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdvisingAssignment.DiplomaProgramYearSection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdvisingAssignment.DiplomaProgramYearSection.Title)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AdvisingAssignment.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
